@import "../../styles/variables";

.dynamics-pre-auth {
  text-align: center;
  padding: 50px 25px;

  h3 {
    margin-top: 0;
  }
  .logo {
    width: 200px;
  }
  .domain-form-content {
    text-align: left;
    margin: 15px 0;

    .field-name {
      font-weight: $semibold;
    }
    .field-description {
      font-size: 12px;
      color: #707070;
      margin-bottom: 10px;
      margin-top: 0;
      span {
        background-color: $N30;
        color: $N300;
      }
    }
  }
}
